name: 'Mapi'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Create environment to run API
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20.5' 

    - name: Install dependencies
      run: go mod download
     
    - name: Run unit tests with coverage
      run: go test ./... -coverprofile unit_tests.out

    - name: Upload unit test coverage to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: unit_tests.out
        flags: unit-tests
        fail_ci_if_error: true

    - name: Build API
      run: go build -cover -o ./bin/app .

    # Run API in with coverage in background. We configured test mode to output stacktraces in
    # the error responses to improve the output of Mayhem for API.
    - name: Run API
      run: mkdir coverage_files && GOCOVERDIR=coverage_files ./bin/app &

    # Run Mayhem for API
    - name: Run Mayhem for API to check for vulnerabilities
      uses: ForAllSecure/mapi-action@v2
      continue-on-error: true
      with:
        mayhem-url: https://app.mayhem.security
        mayhem-token: ${{ secrets.MAYHEM_TOKEN }}
        api-url: http://localhost:7070
        api-spec: openapi.yaml
        sarif-report: mapi.sarif
        html-report: mapi.html
        target: bengutierrez/demo-oneplatform/mapi # change to forallsecure/demo-oneplatform/mapi

    # Kill if it's still running, ignoring any errors
    - name: Shut down API
      run: killall app || true

    - name: Consolidate coverage files
      run: go tool covdata textfmt -i coverage_files -o mapi.out

    - name: Upload Mayhem coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: mapi.out
        flags: mayhem-for-api-tests
        name: mayhem-for-api-tests
        fail_ci_if_error: true

    # Archive HTML report
    - name: Archive Mayhem for API report
      uses: actions/upload-artifact@v3
      with:
        name: mapi-report
        path: mapi.html

    # Upload SARIF file (only available on public repos or github enterprise)
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: mapi.sarif